{{define "layout"}}
<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{template "title"}}</title>
	<link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div>
    <form enctype="multipart/form-data" action="/upload" autocomplete="off" method="post">
      <input type="text" id="path" name="path">
      <input type="file" id="myFile" name="filename" multiple>
      <input type="hidden" name="path" value="{{ .current }}">
      <input type="submit" value="Upload">
    </form>
  </div>
  <div>
    <span>
      <a href="/">Home</a>
      <span>/</span>
    </span>
    {{ $paths := .paths }}
    {{ $len := len .paths }}
    {{ $r := "" }}
    {{- range $i, $e := .paths -}}
      {{ $r = print $r "/" $e.Name }}
      <a href="{{ $r }}/">{{ $e.Name }}</a>
      <span> / </span>
    {{- end -}}
  </div>
  <hr>
  {{ range .dirs }}
  <div>
    Dir: <a href="/{{ .Value }}">{{ .Name }}</a>
  </div>
  {{ end }}
  {{ range .files }}
  <div>
    File: <a href="/{{ .Value }}">{{ .Name }}</a>
  </div>
  {{ end }}
</body>
</html>
{{end}}