{{ define "title" }}
  {{ .current }}
{{ end }}

{{ define "upload" }}
<div>
  <form enctype="multipart/form-data" action="/upload" autocomplete="off" method="post">
    <div>
      <input type="text" id="path" name="path" placeholder="Folder to upload file(s)" value="{{ .current }}">
      <label for="path">Folder to upload files(s)</label>
      <input type="file" id="filenae" name="filename" multiple>
      <input type="submit" value="Upload">
    </div>
  </form>
</div>
{{ end }}

{{ define "breadcrumb" }}
<div>
  <span>
    <a href="/"><svg width="16" height="16" viewBox="0 0 16 16"><path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"></path></svg></a>
    <span>/</span>
  </span>
  {{ $paths := .paths }}
  {{ $len := len .paths }}
  {{ $r := "" }}
  {{- range $i, $e := .paths -}}
    {{ $r = print $r "/" $e.Name }}
    <a href="{{ $r }}/">{{ $e.Name }}</a>
    <span> / </span>
  {{- end -}}
</div>
{{ end }}

{{ define "body" }}
<table>
  <thead>
    <th>Name</th>
    <th>Updated</th>
    <th>Size</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    {{ range .dirs }}
      <tr>
        <td>
          <svg height="16" viewBox="0 0 14 16" width="14"><path fill-rule="evenodd" d="M13 4H7V3c0-.66-.31-1-1-1H1c-.55 0-1 .45-1 1v10c0 .55.45 1 1 1h12c.55 0 1-.45 1-1V5c0-.55-.45-1-1-1zM6 4H1V3h5v1z"></path></svg>
          <a href="/{{ .Value }}">{{ .Name }}</a>
        </td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    {{ end }}
    {{ range .files }}
      <tr>
        <td>
          <svg height="16" viewBox="0 0 12 16" width="12"><path fill-rule="evenodd" d="M6 5H2V4h4v1zM2 8h7V7H2v1zm0 2h7V9H2v1zm0 2h7v-1H2v1zm10-7.5V14c0 .55-.45 1-1 1H1c-.55 0-1-.45-1-1V2c0-.55.45-1 1-1h7.5L12 4.5zM11 5L8 2H1v12h10V5z"></path></svg>
          <a href="/{{ .Value }}">{{ .Name }}</a>
        </td>
        <td>
          {{ .Updated }}
        </td>
        <td>
          {{ .Size }}
        </td>
        <td>
          <img src="/{{ .Value }}" alt="{{ .Name }}" loading="lazy" height="18">
        </td>
      </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}
